@media only screen and (min-width: 1440px) {
  .main-card {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    /* gap: 24px; */
    justify-content: space-between;
  }
}

.car-info-container {
  display: flex;
  flex-direction: column;
}

.car-image {
  width: 361px;
  border-radius: 361px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.booking-btn-container {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1440px) {
  .booking-btn-container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .car-image {
    width: 344px;
  }
}

@media only screen and (min-width: 1440px) {
  .car-image {
    width: 460px;
  }
}

.car-title {
  margin: 24px 0 8px;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .car-title {
    margin: 0 0 16px;
    font-size: 24px;
  }
}

.car-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .car-price {
    margin-bottom: 32px;
  }
}

.car-price-day {
  font-weight: 100;
  font-size: 16px;
}

.car-description-title {
  font-size: 18px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .car-description-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.car-description-list {
  gap: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.car-description-item {
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;

  line-height: 1.4;
}

.car-description-icon {
  margin-right: 8px;
}

.car-info {
  max-width: 361px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  font-size: 14px;

  margin-bottom: 32px;
}

.booking-btn {
  font-size: 16px;
  max-width: 210px;
  display: block;
  width: 100%;
  align-items: center;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: var(--primary-cl);
  color: var(--text-primary-cl);
}

@media only screen and (min-width: 1440px) {
  .booking-btn {
    max-width: 361px;
  }
}

/* стилі для секції add on extras */

.hidden {
  display: none;
}
@media only screen and (min-width: 1440px) {
  .hidden {
    display: flex;
    justify-content: center;
  }
}

.extras-grid-container {
  padding: 32px 16px 0;
}

.extras-grid-container h2 {
  font-size: 20px;
  margin-bottom: 24px;
}

.extras-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .extras-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }
}

.extra-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  background: #39393b;
}

.extra-btn.active {
  background: var(--primary-cl);
}

.extra-btn-container {
  padding: 8px 0 8px 8px;
  color: var(--text-primary-cl);
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media only screen and (min-width: 768px) {
  .extra-btn-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .extra-btn-svg-border {
    padding-right: 8px;
  }
}

.extra-btn-svg-container {
  min-width: 33px;
  height: 100%;
  display: flex;
  align-items: center;
  border-end-end-radius: 8px;
  border-start-end-radius: 8px;
  background: #4f4f51;
  justify-content: center;
}

.extra-btn-svg-container.active {
  background: #c5a085;
}

.extra-btn-paragraf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .extra-btn-paragraf {
    border-left: 1px solid #4f4f51;
    padding-left: 15px;
  }
}

.extra-btn-title {
  font-size: 14px;
  text-align: start;
  margin: 8px 0 25px;
}

@media only screen and (min-width: 768px) {
  .extra-btn-title {
    font-size: 16px;
    margin: 0px 0 25px;
  }
}

.extra-btn-price {
  font-size: 16px;

  font-weight: 600;
}

/* хлібні крошки - степпер */

.stepper-section {
  margin: 0 auto;
}

.stepper-container {
  background: #1e1e20;
  border-top: 1px solid #4f4f51;
  padding-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.confirm-section .stepper-container {
  padding-bottom: 16px;
}

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 375px;
}

@media only screen and (min-width: 768px) {
  .stepper {
    width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .stepper-hidden {
    display: none;
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: #a1a1aa;
  font-size: 12px;
  font-weight: 300;
}

.line {
  position: relative;
  top: 50%;
  display: block;
  width: 49px;
  height: 1px;
  background-color: #4f4f51;
  z-index: 2;
}

@media (min-width: 768px) {
  .line {
    width: 96px;
  }
}

.line.active {
  background-color: #b68867;
}

.line.left {
  margin-left: -51px;
}
.line.rights {
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .line.left {
    margin-left: -97px;
  }
}

.circle {
  position: relative;
}

.step .circle {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  border: 2px solid #a1a1aa;
  background-color: transparent;
  margin-bottom: 6px;
}

.step.active {
  color: #b68867;
  font-weight: 500;
}

.step.active .circle {
  background-color: #b68867;
  border-color: #b68867;
  border: 1px solid white;
}

.stepper-car-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 16px;
}

.stepper-car-info img {
  width: 74px;
  height: auto;
}

.stepper-car-info h3 {
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-bottom: 4px;
}

.stepper-car-info span {
  font-size: 14px;
  color: var(--txt-secondary-cl);
}

.stepper-car-info p {
  font-size: 14px;
}

/* секція вибору страхування  */

.insurance-container {
  padding: 32px 16px 0;
  margin: auto;
}

.insurance-title {
  font-size: 20px;
  margin-bottom: 24px;
}

.insurance-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .insurance-options {
    flex-direction: row;
    gap: 16px;
  }
}

.insurance-card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.insurance-card .description {
  margin-bottom: 16px;
}

.insurance-card .title {
  font-size: 16px;
  margin-bottom: 8px;
}

.insurance-card .tariff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.insurance-card .price {
  font-size: 24px;
  font-weight: 500;
}

.insurance-card ul li {
  font-size: 14px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.insurance-card .note {
  font-size: 12px;
  color: #656566;
}

.insurance-card.active {
  background: linear-gradient(150deg, #b68867 6.05%, #bc8473 88.69%);

  border: 2px solid rgba(255, 255, 255, 0.2);
}

.insurance-btn {
  width: 100%;

  font-size: 16px;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: var(--primary-cl);
  color: var(--text-primary-cl);
}

@media only screen and (min-width: 768px) {
  .insurance-btn {
    width: 210px;
  }
}
/* секція  підтвердженн замовлення*/
/* .confirm-main-container {
  } */

.confirm-container {
  /* max-width: 472px; */
  padding: 32px 16px 0;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.confirm-container .title {
  font-size: 20px;
  margin-bottom: 24px;
}

.orderForm {
  max-width: 361px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .orderForm {
    column-gap: 32px;
    max-width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 514px; */
  }
}

@media only screen and (min-width: 1440px) {
  .orderForm {
    display: flex;
  }
}

.orderForm label {
  font-size: 14px;
  margin-bottom: 24px;

  display: block;
}

.orderForm-text {
  font-size: 14px;
}

.orderForm input,
select {
  width: 100%;
  padding: 12px 14px;
  background: transparent;
  border: 1px solid #4f4f51;
  border-radius: 10px;
  color: var(--text-primary-cl);
  margin-top: 6px;
}

.phone-input {
  margin-top: 6px;
}
.phone-input input,
select {
  border: none;
  border-radius: none;
  padding: 0;
}

.phone-input {
  display: flex;
  border: 1px solid #4f4f51;
  border-radius: 10px;
  padding: 12px 14px;
  gap: 8px;
}

.phone-input select {
  width: 20%;
}

.phone-input input {
  width: 80%;
}

.summary-box {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
  padding: 16px;
  margin-bottom: 24px;
  font-size: 12px;
  height: max-content;
}

.summary-box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.summary-box .total {
  border-top: 1px solid #4f4f51;
  padding-top: 13px;
  margin-top: 24px;
  font-size: 18px;
}

.required {
  color: #e57373;
}

.checkbox input {
  margin: 0;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  width: auto;
}
.container-pay-btn {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .container-pay-btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-pay-btn span {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .pay-later,
  .pay-now {
    min-width: 100%;
  }
}

.pay-later,
.pay-now {
  min-width: 230px;
  padding: 18px 24px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--text-primary-cl);
}

@media only screen and (min-width: 1440px) {
  .pay-later,
  .pay-now {
    min-width: max-content;
  }
}
.pay-later {
  /* margin-bottom: 16px; */
  background: rgba(182, 136, 103, 0.2);
}

.pay-now {
  background: var(--primary-cl);
  display: flex;
  gap: 8px;
  align-items: center;
}

/*  */
/* Сховати мінус за замовчуванням */
.svg-minus {
  display: none;
}

/* Коли кнопка активна — показати мінус і сховати плюс */
.extra-btn.active .svg-plus {
  display: none;
}

.extra-btn.active .svg-minus {
  display: inline;
}
/* 1440 */
@media only screen and (min-width: 1440px) {
  .hero-card {
    padding: 48px 24px;
    background: #1e1e20;
    max-width: 1280px;
    border-radius: 16px;
  }
}

.dekstop-stepper {
  display: none;
}
@media only screen and (min-width: 1440px) {
  .dekstop-stepper {
    display: flex;
    margin-top: 64px;
    margin-bottom: 40px;
    align-items: center;
  }
}
