.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  font-size: 20px;
  background: #1e1e20;
}
.header-menu-btn {
  height: 44px;
  width: 44px;
  padding: 10px;
}
.header-contact {
  display: none;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .header-contact {
    display: flex;
    font-size: 16px;
    padding: 8px;
    align-items: center;
    gap: 4px;
    color: #bdbdbe;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-header {
    display: flex;
    gap: 84px;
  }
}

.nav-list-header {
  display: flex;
  gap: 24px;
  font-size: 16px;
}

@media only screen and (min-width: 1440px) {
  .revers-hidden {
    display: none;
  }
}

.header-select {
  width: max-content;
  margin: 0;
}
