/* скидання стилів */
@import url("reset.css");
@import url("common.css");

/* стилі для різних секцій */

@import url("header.css");
@import url("card.css");
@import url("about.css");
@import url("footer.css");

:root {
  --primary-cl: #b68867;
  --secondary-cl: rgba(182, 136, 103, 0.2);

  --text-primary-cl: #fefeff;
  --txt-secondary-cl: #919192;

  --bacground-cl: #121214;
}

html,
body,
#root {
  font-family: "Inter", sans-serif;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  min-height: 100vh;
  background: var(--bacground-cl);
  color: var(--text-primary-cl);
}

button {
  font-family: "Inter", sans-serif;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.icon {
  max-width: 16px;
  max-height: 16px;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.icon-info-card {
  width: 20px;
  height: 20px;
}

.icon-plus-minus {
  width: 24px;
  height: 24px;
}

.logo-icon {
  width: 150px;
  max-height: 18px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
